@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

#root {
  height: 100vh;
  width: auto;
  display: flex;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: white;
}